body {
    background-color: rgba(255, 145, 0, 0.745);
}
h1 {
    color: red;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    border: 10px dotted red;
}

div {
    float: left;
    width: 450px;
    margin-left: 80px;
}

h2 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-right: 80px;
    color: red;
}

p {
    font-weight: bolder;
    text-align: center;
    margin-right: 60px;
    color: purple;
    background-color: white;
}